<div style="margin-top: 100px" class="container">
  <h3
    style="
      color: white;
      text-align: center;
      text-decoration: underline;
      text-decoration-style: wavy;
    "
    class="h4 font-weight-bold mb-4"
  >
    CO CASH STAKING
  </h3>

  <div class="row justify-content-center">
    <div class="col-lg-6">
      <!-- Tabs -->
      <div class="mb-3">
        <small style="color: white" class="h4 font-weight-bold"
          >Native Staking</small
        >
      </div>
      <ngb-tabset
        [justify]="'center'"
        class="custom-tab-content flex-row flex-md-row"
        type="pills"
      >
        <ngb-tab title="About">
          <ng-template ngbTabContent>
            <p style="color: black; font-weight: 400" class="description">
              Investors mint cash stablecoin and then have the option to
              participate in native staking or bonding. They can also compound
              their earnings by staking their stablecoin rewards to earn passive
              rewards with a variable APR.
            </p>
            <p style="margin-bottom: 88px"></p>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Tokenomics">
          <ng-template ngbTabContent>
            <p style="color: black; font-weight: 400" class="description">
              1% transaction fee on minting and redeeming shares as:
              <li>Co-Token/BUSD LP 81%</li>
              <li>Reward Pool 11%</li>
              <li>Performance Pool 4%</li>
              <li>UBI Pool 4%</li>
            </p>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="APR">
          <ng-template ngbTabContent>
            <p style="color: black; font-weight: 400" class="description">
              Co cash payout 1% of its balance to all players daily from Rewards
              and Performance Pool which is proportional to the deposited amount
              and total stake % of the supply.
            </p>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
    <div class="col-lg-6 mt-5 mt-lg-0">
      <!-- Menu -->
      <div class="mb-3">
        <small style="color: white" class="h4 font-weight-bold"
          >Cash Bonding System</small
        >
      </div>
      <ngb-tabset
        [justify]="'center'"
        class="custom-tab-content flex-row flex-md-row"
        type="pills"
      >
        <ngb-tab title="About">
          <ng-template ngbTabContent>
            <div>
              <p style="color: black; font-weight: 400" class="description">
                This is a process where Players deposit their Cash into the
                Bonding System and will be paid back with a fixed 205% APR which
                shall be spread over 365 days at a daily fixed rate of 0.56%.
                Bonds are tied to players’ wallets and can be added to (or
                compounded) at anytime. Regardless of the market condition,
                bonding ensures yield is paid out for the long term.
              </p>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Tokenomics">
          <ng-template ngbTabContent>
            <p style="color: black; font-weight: 400" class="description">
              Out of the players' investment goes 25% to tax while the remaining
              75% of the Players' investment is burnt and split equally between
              the Co-Token Treasury and the Co-Token Treasury/BUSD PancakeSwap
              Liquidity Pool.
            </p>
          </ng-template>
        </ngb-tab>

        <ngb-tab title="APR">
          <ng-template ngbTabContent>
            <p style="color: black; font-weight: 400" class="description">
              Rewards will be paid back at a fixed rate of 0.56% per day which
              amounts to 205% APR from their deposited amount in the form of
              Stablecoin rewards over 365 days.
            </p>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</div>
<div class="separator separator-bottom separator-skew zindex-100">
  <svg
    x="0"
    y="0"
    viewBox="0 0 2560 100"
    preserveAspectRatio="none"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
  >
    <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
  </svg>
</div>
