<main class="co-dash-main">
  <section>
    <div class="main-div">
      <div style="display: flex; flex-direction: column" class="col-lg-6">
        <!-- Dashboard Stats -->
        <div
          style="
            display: flex;
            flex-direction: row;
            justify-content: space-around;
          "
          class="mb-3 mt-5"
        >
          <!-- First Stat Row-->
          <div>
            <div class="mb-3">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="80"
                height="60"
                fill="white"
                class="bi bi-currency-exchange"
                viewBox="0 0 16 16"
              >
                <path
                  d="M0 5a5.002 5.002 0 0 0 4.027 4.905 6.46 6.46 0 0 1 .544-2.073C3.695 7.536 3.132 6.864 3 5.91h-.5v-.426h.466V5.05c0-.046 0-.093.004-.135H2.5v-.427h.511C3.236 3.24 4.213 2.5 5.681 2.5c.316 0 .59.031.819.085v.733a3.46 3.46 0 0 0-.815-.082c-.919 0-1.538.466-1.734 1.252h1.917v.427h-1.98c-.003.046-.003.097-.003.147v.422h1.983v.427H3.93c.118.602.468 1.03 1.005 1.229a6.5 6.5 0 0 1 4.97-3.113A5.002 5.002 0 0 0 0 5zm16 5.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0zm-7.75 1.322c.069.835.746 1.485 1.964 1.562V14h.54v-.62c1.259-.086 1.996-.74 1.996-1.69 0-.865-.563-1.31-1.57-1.54l-.426-.1V8.374c.54.06.884.347.966.745h.948c-.07-.804-.779-1.433-1.914-1.502V7h-.54v.629c-1.076.103-1.808.732-1.808 1.622 0 .787.544 1.288 1.45 1.493l.358.085v1.78c-.554-.08-.92-.376-1.003-.787H8.25zm1.96-1.895c-.532-.12-.82-.364-.82-.732 0-.41.311-.719.824-.809v1.54h-.005zm.622 1.044c.645.145.943.38.943.796 0 .474-.37.8-1.02.86v-1.674l.077.018z"
                />
              </svg>
            </div>
            <div style="text-align: center">
              <p style="font-weight: 700; font-size: large; color: #fff">
                Balance
              </p>
            </div>
            <div style="margin-top: -20px; text-align: center">
              <p style="font-weight: 700; font-size: large; color: #fff">...</p>
            </div>
            <div style="margin-top: -20px; text-align: center">
              <p style="font-size: small; color: #fff">Co Token</p>
            </div>
          </div>

          <div>
            <div class="mb-3">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="80"
                height="60"
                fill="white"
                class="bi bi-safe2"
                viewBox="0 0 16 16"
              >
                <path
                  d="M1 2.5A1.5 1.5 0 0 1 2.5 1h12A1.5 1.5 0 0 1 16 2.5v12a1.5 1.5 0 0 1-1.5 1.5h-12A1.5 1.5 0 0 1 1 14.5V14H.5a.5.5 0 0 1 0-1H1V9H.5a.5.5 0 0 1 0-1H1V4H.5a.5.5 0 0 1 0-1H1v-.5zM2.5 2a.5.5 0 0 0-.5.5v12a.5.5 0 0 0 .5.5h12a.5.5 0 0 0 .5-.5v-12a.5.5 0 0 0-.5-.5h-12z"
                />
                <path
                  d="M5.035 8h1.528c.047-.184.12-.357.214-.516l-1.08-1.08A3.482 3.482 0 0 0 5.035 8zm1.369-2.303 1.08 1.08c.16-.094.332-.167.516-.214V5.035a3.482 3.482 0 0 0-1.596.662zM9 5.035v1.528c.184.047.357.12.516.214l1.08-1.08A3.482 3.482 0 0 0 9 5.035zm2.303 1.369-1.08 1.08c.094.16.167.332.214.516h1.528a3.483 3.483 0 0 0-.662-1.596zM11.965 9h-1.528c-.047.184-.12.357-.214.516l1.08 1.08A3.483 3.483 0 0 0 11.965 9zm-1.369 2.303-1.08-1.08c-.16.094-.332.167-.516.214v1.528a3.483 3.483 0 0 0 1.596-.662zM8 11.965v-1.528a1.989 1.989 0 0 1-.516-.214l-1.08 1.08A3.483 3.483 0 0 0 8 11.965zm-2.303-1.369 1.08-1.08A1.988 1.988 0 0 1 6.563 9H5.035c.085.593.319 1.138.662 1.596zM4 8.5a4.5 4.5 0 1 1 9 0 4.5 4.5 0 0 1-9 0zm4.5-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"
                />
              </svg>
            </div>
            <div style="text-align: center">
              <p style="font-weight: 700; font-size: large; color: #fff">
                Stake %
              </p>
            </div>
            <div style="margin-top: -20px; text-align: center">
              <p style="font-weight: 700; font-size: large; color: #fff">...</p>
            </div>
            <div style="margin-top: -20px; text-align: center">
              <p style="font-size: small; color: #fff">%</p>
            </div>
          </div>
        </div>

        <!-- Connect Wallet -->
        <div style="align-self: center" class="mb-5">
          <button
            style="
              border-radius: 10px 10px;
              padding: 10px 10px;
              background-color: #0a0a0a;
              color: #fff;
              cursor: pointer;
            "
          >
            CONNECT WALLET
          </button>
        </div>
      </div>
      <div class="column container">
        <div class="mb-3">
          <p style="color: #fff">Token Address</p>
          <button
            class="address"
          >
           0xh653h0e3j8c102hadf6e8166b73e02d93jk66
          </button>
        </div>

        <div class="mb-3">
          <p style="color: #fff">Liquidity Drive</p>
          <button
            style="
              border-radius: 10px 10px;
              padding: 10px 10px;
              background-color: #0a0a0a;
              color: #fff;
              cursor: pointer;
              width: 100%;
            "
          >
            CLAIM
          </button>
        </div>

        <div class="mb-3">
          <p style="color: #fff">Rebalance Graveyard</p>
          <button
            style="
              border-radius: 10px 10px;
              padding: 10px 10px;
              background-color: #0a0a0a;
              color: #fff;
              cursor: pointer;
              width: 100%;
            "
          >
            REBALANCE
          </button>
        </div>
      </div>
    </div>

    <div style="display: flex; flex-direction: column" class="col-lg-12">
      <!-- Head Text -->
      <div class="mt-3">
        <p
          style="
            color: #fff;
            text-align: center;
            font-size: 25px;
            font-weight: 700;
          "
        >
          STATS
        </p>
      </div>
      <div class="mt-1 mb-3"></div>
    </div>
    <!-- Stats -->

    <div
      style="display: flex; flex-direction: row; justify-content: space-around"
    >
      <!-- First Stat Row-->
      <div
        style="
          display: flex;
          flex-direction: column;
          justify-content: space-around;
        "
        class="mb-3"
      >
        <div>
          <div class="mb-3">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="40"
              height="40"
              fill="white"
              class="bi bi-cash"
              viewBox="0 0 16 16"
            >
              <path d="M8 10a2 2 0 1 0 0-4 2 2 0 0 0 0 4z" />
              <path
                d="M0 4a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V4zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V6a2 2 0 0 1-2-2H3z"
              />
            </svg>
          </div>
          <div>
            <p style="font-weight: 700; font-size: 17px; color: #fff">
              Liquidity
            </p>
          </div>
          <div style="margin-top: -20px">
            <p style="font-weight: 700; font-size: 17px; color: #fff">...</p>
          </div>
          <div style="margin-top: -20px">
            <p style="font-size: small; color: #fff">CASH</p>
          </div>
        </div>
        <div>
          <div class="mb-3">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="40"
              height="40"
              fill="white"
              class="bi bi-currency-exchange"
              viewBox="0 0 16 16"
            >
              <path
                d="M0 5a5.002 5.002 0 0 0 4.027 4.905 6.46 6.46 0 0 1 .544-2.073C3.695 7.536 3.132 6.864 3 5.91h-.5v-.426h.466V5.05c0-.046 0-.093.004-.135H2.5v-.427h.511C3.236 3.24 4.213 2.5 5.681 2.5c.316 0 .59.031.819.085v.733a3.46 3.46 0 0 0-.815-.082c-.919 0-1.538.466-1.734 1.252h1.917v.427h-1.98c-.003.046-.003.097-.003.147v.422h1.983v.427H3.93c.118.602.468 1.03 1.005 1.229a6.5 6.5 0 0 1 4.97-3.113A5.002 5.002 0 0 0 0 5zm16 5.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0zm-7.75 1.322c.069.835.746 1.485 1.964 1.562V14h.54v-.62c1.259-.086 1.996-.74 1.996-1.69 0-.865-.563-1.31-1.57-1.54l-.426-.1V8.374c.54.06.884.347.966.745h.948c-.07-.804-.779-1.433-1.914-1.502V7h-.54v.629c-1.076.103-1.808.732-1.808 1.622 0 .787.544 1.288 1.45 1.493l.358.085v1.78c-.554-.08-.92-.376-1.003-.787H8.25zm1.96-1.895c-.532-.12-.82-.364-.82-.732 0-.41.311-.719.824-.809v1.54h-.005zm.622 1.044c.645.145.943.38.943.796 0 .474-.37.8-1.02.86v-1.674l.077.018z"
              />
            </svg>
          </div>
          <div>
            <p style="font-weight: 700; font-size: 17px; color: #fff">
              Redemption Price
            </p>
          </div>
          <div style="margin-top: -20px">
            <p style="font-weight: 700; font-size: 17; color: #fff">...</p>
          </div>
        </div>

        <!-- Mobile  -->
      </div>

      <!-- Second Stat -->

      <div
        style="
          display: flex;
          flex-direction: column;
          justify-content: space-around;
        "
        class="mb-3"
      >
        <div>
          <div class="mb-3">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="40"
              height="40"
              fill="white"
              class="bi bi-safe2"
              viewBox="0 0 16 16"
            >
              <path
                d="M1 2.5A1.5 1.5 0 0 1 2.5 1h12A1.5 1.5 0 0 1 16 2.5v12a1.5 1.5 0 0 1-1.5 1.5h-12A1.5 1.5 0 0 1 1 14.5V14H.5a.5.5 0 0 1 0-1H1V9H.5a.5.5 0 0 1 0-1H1V4H.5a.5.5 0 0 1 0-1H1v-.5zM2.5 2a.5.5 0 0 0-.5.5v12a.5.5 0 0 0 .5.5h12a.5.5 0 0 0 .5-.5v-12a.5.5 0 0 0-.5-.5h-12z"
              />
              <path
                d="M5.035 8h1.528c.047-.184.12-.357.214-.516l-1.08-1.08A3.482 3.482 0 0 0 5.035 8zm1.369-2.303 1.08 1.08c.16-.094.332-.167.516-.214V5.035a3.482 3.482 0 0 0-1.596.662zM9 5.035v1.528c.184.047.357.12.516.214l1.08-1.08A3.482 3.482 0 0 0 9 5.035zm2.303 1.369-1.08 1.08c.094.16.167.332.214.516h1.528a3.483 3.483 0 0 0-.662-1.596zM11.965 9h-1.528c-.047.184-.12.357-.214.516l1.08 1.08A3.483 3.483 0 0 0 11.965 9zm-1.369 2.303-1.08-1.08c-.16.094-.332.167-.516.214v1.528a3.483 3.483 0 0 0 1.596-.662zM8 11.965v-1.528a1.989 1.989 0 0 1-.516-.214l-1.08 1.08A3.483 3.483 0 0 0 8 11.965zm-2.303-1.369 1.08-1.08A1.988 1.988 0 0 1 6.563 9H5.035c.085.593.319 1.138.662 1.596zM4 8.5a4.5 4.5 0 1 1 9 0 4.5 4.5 0 0 1-9 0zm4.5-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"
              />
            </svg>
          </div>
          <div>
            <p style="font-weight: 700; font-size: 17px; color: #fff">
              Price SA
            </p>
          </div>
          <div style="margin-top: -20px">
            <p style="font-weight: 700; font-size: 17px; color: #fff">...</p>
          </div>
          <div style="margin-top: -20px">
            <p style="font-size: small; color: #fff">CASH</p>
          </div>
        </div>
        <div>
          <div class="mb-3">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="40"
              height="40"
              fill="white"
              class="bi bi-app-indicator"
              viewBox="0 0 16 16"
            >
              <path
                d="M5.5 2A3.5 3.5 0 0 0 2 5.5v5A3.5 3.5 0 0 0 5.5 14h5a3.5 3.5 0 0 0 3.5-3.5V8a.5.5 0 0 1 1 0v2.5a4.5 4.5 0 0 1-4.5 4.5h-5A4.5 4.5 0 0 1 1 10.5v-5A4.5 4.5 0 0 1 5.5 1H8a.5.5 0 0 1 0 1H5.5z"
              />
              <path d="M16 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
            </svg>
          </div>
          <div>
            <p style="font-weight: 700; font-size: 17px; color: #fff">
              Cash Treasury
            </p>
          </div>
          <div style="margin-top: -20px">
            <p style="font-weight: 700; font-size: 17px; color: #fff">...</p>
          </div>
          <div style="margin-top: -20px">
            <p style="font-size: small; color: #fff">BUSD<small></small></p>
          </div>
        </div>
      </div>
    </div>

    <!-- Divider straight-->
    <div style="background-color: #fff; height: 20px">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path
          fill="#0a0a0a"
          fill-opacity="1"
          d="M0,288L1440,256L1440,320L0,320Z"
        ></path>
      </svg>
    </div>

    <div class="container stampede mb-5">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <!-- Tabs -->

          <div>
            <!-- Tabs -->
            <div class="mb-3"></div>
            <ngb-tabset
              [justify]="'center'"
              class="custom-tab-content flex-row flex-md-row"
              type="pills"
            >
              <ngb-tab title="BUY">
                <ng-template ngbTabContent>
                  <div
                    style="
                      display: flex;
                      flex-direction: row;
                      justify-content: space-between;
                    "
                  >
                    <p
                      style="color: black; font-weight: 700; font-size: 20"
                      class="description"
                    >
                      Amount
                    </p>
                    <p
                      style="color: black; font-weight: 700; font-size: 20"
                      class="description"
                    >
                      BNB
                    </p>
                  </div>

                  <div style="display: flex; flex-direction: column">
                    <div class="input-group mb-5">
                      <input
                        value=""
                        class="form-control"
                        type="text"
                        name="text-1542372332072"
                        id="text-1542372332072"
                        required="required"
                        placeholder="BNB"
                      />
                    </div>
                    <div class="mb-3">
                      <button
                        style="
                          border-radius: 10px 10px;
                          padding: 10px 10px;
                          background-color: #0a0a0a;
                          color: #fff;
                          cursor: pointer;
                        "
                      >
                        BUY
                      </button>
                    </div>
                  </div>
                </ng-template>
              </ngb-tab>
            </ngb-tabset>
          </div>
        </div>
        <div class="col-lg-6 mt-5 mt-lg-0">
          <div>
            <!-- Tabs -->
            <div class="mb-3"></div>
            <ngb-tabset
              [justify]="'center'"
              class="custom-tab-content flex-row flex-md-row"
              type="pills"
            >
              <ngb-tab title="SELL">
                <ng-template ngbTabContent>
                  <div
                    style="
                      display: flex;
                      flex-direction: row;
                      justify-content: space-between;
                    "
                  >
                    <p
                      style="color: black; font-weight: 700; font-size: 20"
                      class="description"
                    >
                      Amount
                    </p>
                    <p
                      style="color: black; font-weight: 700; font-size: 20"
                      class="description"
                    >
                      CO Token
                    </p>
                  </div>

                  <div style="display: flex; flex-direction: column">
                    <div class="input-group mb-5">
                      <input
                        value=""
                        class="form-control"
                        type="text"
                        name="text-1542372332072"
                        id="text-1542372332072"
                        required="required"
                        placeholder="CO Token"
                      />
                    </div>
                    <div
                      style="
                        display: flex;
                        justify-content: space-between;
                        flex-direction: row;
                      "
                    >
                      <div class="mb-3">
                        <button
                          style="
                            border-radius: 10px 10px;
                            padding: 10px 10px;
                            background-color: #0a0a0a;
                            color: #fff;
                            cursor: pointer;
                          "
                        >
                          SELL
                        </button>
                      </div>
                      <div style="margin-top: 15px">
                        <label>
                          <input
                            type="checkbox"
                            class="default__check switchbox"
                            checked
                          />
                          <span class="custom__check"></span>
                        </label>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-tab>
            </ngb-tabset>
          </div>
        </div>
      </div>
    </div>

    <!--curve-->
    <div *ngIf="lg" style="height: 20px">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path
          fill="white"
          fill-opacity="2"
          d="M0,64L120,74.7C240,85,480,107,720,101.3C960,96,1200,64,1320,48L1440,32L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"
        ></path>
      </svg>
    </div>
    <div style="background-color: #fff; height: 150px" *ngIf="!lg"></div>

    <!-- Services -->
    <!-- Head Text -->

    <div class="service-slide">
      <div
        *ngIf="lg"
        class="picsum-img-wrapper"
        style="display: flex; justify-content: center"
      >
        <div class="section">
          <div class="card card-supervisor" style="width: 500px; height: 310px">
            <div class="card-body">
              <div class="card-text mb-3" style="color: #0a0a0a">
                Co Cash offers a continuous Automatic Compensation Mechanism
                with a rebalance of 1% (10 trillion tokens) whenever the
                graveyard has reached 51%. This rebalance is transferred to the
                Liquidity Pool in form of a transaction.
              </div>

              <div
                style="
                  display: flex;
                  flex-direction: row;
                  justify-content: space-between;
                "
              >
                <div class="mb-3">
                  <button
                    style="
                      border-radius: 10px 10px;

                      background-color: #0a0a0a;
                      color: #fff;
                      cursor: pointer;
                    "
                  >
                    Tutorial
                  </button>
                </div>
                <div class="mb-3">
                  <button
                    style="
                      border-radius: 10px 10px;

                      background-color: #0a0a0a;
                      color: #fff;
                      cursor: pointer;
                    "
                  >
                    Audit
                  </button>
                </div>
                <div class="mb-3">
                  <button
                    style="
                      border-radius: 10px 10px;

                      background-color: #0a0a0a;
                      color: #fff;
                      cursor: pointer;
                    "
                  >
                    Buy
                  </button>
                </div>
              </div>

              <div
                style="
                  display: flex;
                  flex-direction: row;
                  justify-content: space-between;
                "
              >
                <div class="mb-3">
                  <button
                    style="
                      border-radius: 10px 10px;

                      background-color: #0a0a0a;
                      color: #fff;
                      cursor: pointer;
                    "
                  >
                    Token Tracker
                  </button>
                </div>
                <div class="mb-3">
                  <button
                    style="
                      border-radius: 10px 10px;

                      background-color: #0a0a0a;
                      color: #fff;
                      cursor: pointer;
                    "
                  >
                    Price & Charting
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        *ngIf="!lg"
        class="picsum-img-wrapper"
        style="display: flex; justify-content: center"
      >
        <div class="section">
          <div class="card card-supervisor">
            <div class="card-body">
              <div class="card-text mb-3" style="color: #0a0a0a">
                Co Cash offers a continuous Automatic Compensation Mechanism
                with a rebalance of 1% (10 trillion tokens) whenever the
                graveyard has reached 51%. This rebalance is transferred to the
                Liquidity Pool in form of a transaction.
              </div>
              <div
                style="
                  display: flex;
                  flex-direction: row;
                  justify-content: space-between;
                "
              >
                <div class="mb-3">
                  <button
                    style="
                      border-radius: 10px 10px;

                      background-color: #0a0a0a;
                      color: #fff;
                      cursor: pointer;
                    "
                  >
                    Tutorial
                  </button>
                </div>
                <div class="mb-3">
                  <button
                    style="
                      border-radius: 10px 10px;

                      background-color: #0a0a0a;
                      color: #fff;
                      cursor: pointer;
                    "
                  >
                    Audit
                  </button>
                </div>
                <div class="mb-3">
                  <button
                    style="
                      border-radius: 10px 10px;

                      background-color: #0a0a0a;
                      color: #fff;
                      cursor: pointer;
                    "
                  >
                    Buy
                  </button>
                </div>
              </div>

              <div
                style="
                  display: flex;
                  flex-direction: row;
                  justify-content: space-between;
                "
              >
                <div class="mb-3">
                  <button
                    style="
                      border-radius: 10px 10px;
                      font-size: 14px;
                      background-color: #0a0a0a;
                      color: #fff;
                      cursor: pointer;
                    "
                  >
                    Token Tracker
                  </button>
                </div>
                <div class="mb-3">
                  <button
                    style="
                      border-radius: 10px 10px;
                      font-size: 14px;
                      background-color: #0a0a0a;
                      color: #fff;
                      cursor: pointer;
                    "
                  >
                    Price & Charting
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
