<section style="background-color: #0a0a0a" class="section section-components">
  <div class="container">
    <h3
      style="
        color: white;
        text-align: center;
        text-decoration: underline;
        text-decoration-style: wavy;
      "
      class="h4 font-weight-bold mb-4"
    >
      CO TOKEN REWARDS
    </h3>
    <p
      style="color: white; text-align: center"
      class="h6 font-weight-bold mb-4"
    >
      Co token is a reflection token. HODLers automatically receive airdrops
      directly in their wallets HODLers will receive passive rewards from simply
      holding the token in their wallet, as every transaction (buy, sell, and
      transfer) has a 10% fee.
    </p>

    <ul class="ul">
      <li class="li" style="--accent-color: #fff">
        <div class="title" style="color: #0a0a0a; text-align: center">
          10% transaction fee is distributed as:
        </div>
        <ul>
          <li style="list-style: disc; color: #0a0a0a">
            Locked Liquidity 5% Pancake Swap
          </li>
          <li style="list-style: disc; color: #0a0a0a">Rewards 4%</li>
          <li style="list-style: disc; color: #0a0a0a">
            Charity 0.5% a wallet
          </li>
          <li style="list-style: disc; color: #0a0a0a">
            Mining Pool 0.5% a wallet
          </li>
        </ul>
      </li>
      <li class="li" style="--accent-color: #fff">
        <div class="title" style="color: #0a0a0a; text-align: center">
          Tokenomics
        </div>
        <ul>
          <li style="list-style: disc; color: #0a0a0a">
            Total Supply: 1,000,000,000,000,000
          </li>
          <li style="list-style: disc; color: #0a0a0a">
            Burning (with Automatic Compensation Mechanism) 49%
          </li>
          <li style="list-style: disc; color: #0a0a0a">Charity 0.25%</li>
          <li style="list-style: disc; color: #0a0a0a">Mining Pool 0.25%</li>
          <li style="list-style: disc; color: #0a0a0a">
            Contractual Locked Liquidity 25%
          </li>
          <li style="list-style: disc; color: #0a0a0a">
            Community Participants during liquidity drive event 25%
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <app-tabs-section></app-tabs-section>
</section>
