<main>
  <div class="position-relative">
    <!-- Hero for FREE version -->
    <section class="section section-lg section-hero section-shaped">
      <!-- Background circles -->
      <div
        style="background-color: black"
        class="shape shape-style-1 shape-primary"
      ></div>
      <div class="">
        <div class="col px-0">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 text-center">
              <img
                src="./assets/img/brand/logox.png"
                style="width: 280px; height: 300px"
                class="img-fluid"
              />
              <div style="display: flex; flex-direction: column">
                <div class="btn-wrapper mt-5 token_logos">
                  <div>
                    <a routerLink="/co-dashboard" class="mb-3 mb-sm-0">
                      <img
                        src="./assets/img/brand/logo_co.png"
                        style="width: 100px"
                        class="img-fluid"
                      />
                    </a>
                  </div>

                  <div>
                    <a routerLink="/cash-dashboard" class="mb-3 mb-sm-0">
                      <img
                        src="./assets/img/brand/logo_co.png"
                        style="width: 100px"
                        class="img-fluid"
                      />
                    </a>
                  </div>
                </div>

                <div class="btn-wrapper mt-5 token_logo_contents">
                  <div>
                    <a routerLink="/co-dashboard" class="mb-3 mb-sm-0">
                      <div class="mb-3">
                        <small class="h5 font-weight-bold" style="color: #fff"
                          >CO <b>TOKEN</b></small
                        >
                      </div>
                    </a>
                  </div>

                  <div>
                    <a routerLink="/cash-dashboard" class="mb-3 mb-sm-0">
                      <div class="mb-3">
                        <small class="h5 font-weight-bold" style="color: #fff"
                          >CASH <b>TOKEN</b></small
                        >
                      </div>
                    </a>
                  </div>
                </div>

                <div class="btn-wrapper token_logo_contents">
                  <div>
                    <a routerLink="/co-dashboard" class="mb-3 mb-sm-0">
                      <div class="mb-3">
                        <small class="h6 font-weight-bold" style="color: #fff"
                          >Quick Buy</small
                        >
                      </div>
                    </a>
                  </div>

                  <div>
                    <a routerLink="/cash-dashboard" class="mb-3 mb-sm-0">
                      <div class="mb-3">
                        <small class="h6 font-weight-bold" style="color: #fff"
                          >Staking Up to 205%APR</small
                        >
                      </div>
                    </a>
                  </div>
                </div>

                <div class="btn-wrapper token_logo_contents">
                  <div>
                    <a routerLink="/co-dashboard" class="mb-3 mb-sm-0">
                      <div class="mb-3">
                        <small class="h6 font-weight-bold" style="color: #fff"
                          >...</small
                        >
                      </div>
                    </a>
                  </div>

                  <div>
                    <a href="" class="mb-3 mb-sm-0">
                      <div class="mb-3">
                        <small class="h6 font-weight-bold" style="color: #fff"
                          >...</small
                        >
                      </div>
                    </a>
                  </div>
                </div>

                <div class="btn-wrapper token_logo_contents">
                  <div>
                    <a href="" class="mb-3 mb-sm-0">
                      <div class="mb-3">
                        <button
                          style="
                            border-radius: 10px 10px;
                            padding: 10px 19px;
                            background-color: #0a0a0a;
                            color: #fff;
                          "
                        >
                          BUY
                        </button>
                      </div>
                    </a>
                  </div>

                  <div>
                    <a href="" class="mb-3 mb-sm-0">
                      <div class="mb-3">
                        <button
                          style="
                            border-radius: 10px 10px;
                            padding: 10px 10px;
                            background-color: #0a0a0a;
                            color: #fff;
                          "
                        >
                          JOIN US
                        </button>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <app-sections></app-sections>
</main>
