<!-- Divider straight-->
<div style="background-color: #fff; height: 20px">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path
      fill="#0a0a0a"
      fill-opacity="1"
      d="M0,288L1440,256L1440,320L0,320Z"
    ></path>
  </svg>
</div>
<footer style="background-color: #0a0a0a" class="footer">
  <div class="container">
    <div class="row row-grid align-items-center">
      <div class="col-lg-6">
        <h3 style="color: #fff" class="h4 font-weight-bold mb-4">Co-Cash</h3>
        <p style="color: #fff">
          Co Cash proffers a lasting solution to the unstable and insecure
          doubts in the Defi market with the combination of our dedicated
          professionals and deep expertise powered by blockchain technology
        </p>
        <h5 style="color: #fff" class="mb-0 font-weight-light">
          Let's get in touch on any of these platforms.
        </h5>
      </div>
      <div class="col-lg-6 text-lg-center btn-wrapper">
        <a
          style="background-color: #fff"
          target="_blank"
          href="#"
          class="btn btn-neutral btn-icon-only btn-twitter btn-round btn-lg"
          ngbTooltip="Follow us"
        >
          <i style="color: #0a0a0a" class="fa fa-twitter"></i>
        </a>
        <a
          style="background-color: #fff"
          target="_blank"
          href="#"
          class="btn btn-neutral btn-icon-only btn-facebook btn-round btn-lg"
          ngbTooltip="Like us"
        >
          <i style="color: #0a0a0a" class="fa fa-facebook-square"></i>
        </a>
        <a
          style="background-color: #fff"
          target="_blank"
          href="#"
          class="btn btn-neutral btn-icon-only btn-dribbble btn-lg btn-round"
          ngbTooltip="Follow us"
        >
          <i style="color: #0a0a0a" class="fa fa-dribbble"></i>
        </a>
      </div>
    </div>
    <hr />
    <div class="row align-items-center justify-content-md-between">
      <div class="col-md-6">
        <div style="color: #fff" class="copyright">
          &copy; {{ test | date: "yyyy" }}
          <a style="color: #fff" href="#" target="_blank">C0-Cash</a>.
        </div>
      </div>
      <div class="col-md-6">
        <ul class="nav nav-footer justify-content-end">
          <li class="nav-item">
            <a href="#" class="nav-link" target="_blank">C0-Cash</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link" target="_blank">Website</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link" target="_blank">Buy CO Token</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link" target="_blank">Swap CASH Token</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
